

.manifestItem-content-item {
  @extend .content-item;
  padding:0.2rem !important;

  svg {
    stroke: $xpo-red-hex;
  }
}

.indicator-icon {
  md-icon {
    height: 40px;
    width: 40px;
  }
}

.cursor{
  cursor: pointer;
}


