<div class="gallery-img">
      <div class="frame-box">
          <div class="image-content">
            <img ng-src="data:image/png;base64,{{fsrc}}" class="image-content"/>
          </div>

      <div ng-class="{'storage-source-dms': opCode=='C','storage-source-local': opCode=='P'}">
        <md-icon md-svg-src="images/wni_thum-clock-1x.svg" class="storage-img" ng-show="opCode=='P'"></md-icon>
        <md-icon md-svg-src="images/wni_thum-cloud-1x.svg" class="storage-img" ng-show="opCode=='C'"></md-icon>
      </div>
      </div>
  <div class="gallery-img-footer" ng-if="opCode=='N'"  ng-click="DeletePhoto(id)">
    <md-icon md-svg-src="images/wni_control-trash-2x.svg" class="gallery-img-delete"></md-icon>Delete
  </div>
</div>
