<div id="table-settings-index">
  <ig-header data-title="Column Settings"></ig-header>
  <div class="settings-content">
    <p class="text-offset">All changes will be automatically saved.</p>
    <div layout="column" class="t-settings-inspection" flex="55">
      <span class="settings-title">Inspection List</span>
      <ol class="slip-list table-settings" slip-after-swipe="vm.afterSwipe($event, $index)"
          slip-reorder="vm.reorder($event, $spliceIndex, $originalIndex)">
        <li ng-repeat="item in vm._columnList" layout="column">
          <div flex layout="row" layout-align="space-between center">
            <div class="radio-contain" ng-click="vm.toggleGridCol($event, item)">
              <md-icon md-svg-src="images/wni_radio-full-1x.svg" ng-show="item.visible"
                       class="adjust-padding ig-icon-button scrubber" aria-label="Column Visible"></md-icon>
              <md-icon md-svg-src="images/wni_radio-empty-1x.svg" ng-show="!item.visible"
                       class="adjust-padding ig-icon-button scrubber" aria-label="Column Hidden"></md-icon>
              <span class="title">{{item.title}} <span ng-show="item.description != ''">({{item.description}})</span></span>
            </div>
            <div>
              <md-icon md-svg-src="images/icon_dragtomove.svg" class="scrubber adjust-padding" aria-label="Drag Column"></md-icon>
            </div>
          </div>
        </li>
      </ol>
    </div>
  </div>
  <button id="resetpreferences" class="action-btn spacetop-2" ng-click="vm.restorePreference(vm.CODE_CONSTANTS.PREFERENCES.LIST_I)">Restore Default Settings</button>
</div>

