$font-base-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-base-size-web: 16px; // Base font size for web browsers
$font-base-size-tab: 28px; // Base font size for tablets

// APPLICATION COLORS
$alt-green-hex: #4BAE4F;
$alt-green-da-hex: #388E3C;
$alt-blue-hex: #2095F2;
$alt-blue-da-hex: #1976D2;
$alt-navy-hex: #3E50B4;
$alt-navy-da-hex: #303F9F;
$alt-orange-hex: #EB8F00;
$alt-orange-da-hex: #F57C00;
$alt-yellow-hex: #FFC107;
$alt-yellow-da-hex: #FFA000;
$alt-violet-hex: #9C27B0;
$alt-violet-da-hex: #7B1fA2;
$xpo-red-hex: #CC0000;
$xpo-black-hex: #1C1E1C;
$xposupp-grey1-hex: #333333;
$xposupp-grey2-hex: #858585;
$xposupp-grey3-hex: #DFDFDF;
$xpocust-portal-grey-hex: #3D464D;
$xpocust-portal-blue-hex: #2382CA;
$error-red: #EE2E24;
$body-text-light: #FFFFFF;

// CONTENT BACKGROUNDS
$master-bg-color: #FFFFFF;
$content-bg-color: #F6F6F6;
$nested1-bg-color: #FFFFFF;
$nested2-bg-color: #DFDFDF;
$nested3-bg-color: #FFFFFF;
