<div id="inspection-index">
  <ig-header data-title="{{vm._currentShipment.proNbr | friendlyProNumber }} - {{vm._currentInspection.inspectionStatusCd | friendlyStatusCd}}" flex-val="initial">
    <hr class="tbar-vertical-divider-inspect">
    <ig-action-menu sync-with="vm._currentInspection.inspectionStatusCd"></ig-action-menu>
    <hr class="tbar-vertical-divider-inspect">
    <div layout="row" layout-align="start center" class="toolbar-btn" ng-click="vm.openSubmitDialog()">
      <md-icon md-svg-src="images/wni_control-submit-2x.svg" class="ig-icon-button" aria-label="Action"></md-icon>
      <span>Submit</span>
    </div>
  </ig-header>
    <ig-collapsible id="instructions" data-title="Customer Specific Instructions" heading-color="#333333" expanded="true" expanded-state-key="inspInProg.Ins" flex>
      <div ng-show="vm._currentShipment.custSpecificInspGuidelines && vm._currentShipment.custSpecificInspGuidelines.length > 0">
        <div class="content-field spacetop-1" layout="row" ng-repeat="guideLines in vm._currentShipment.custSpecificInspGuidelines">
          <div class="spaceright-1" flex-md="40" flex-gt-md="25">{{guideLines.customerID.custName}}</div>
          <div layout-wrap flex-md="60" flex-gt-md="75"><pre>{{guideLines.customerGuidelines.note}}</pre></div>
        </div>
      </div>
      <p ng-hide="vm._currentShipment.custSpecificInspGuidelines && vm._currentShipment.custSpecificInspGuidelines.length > 0">
        There are no guidelines associated with any customers for this shipment.
      </p>
      <div ng-include="'partials/placeholders/emptyPane.html'" ng-show="!vm._currentInspection"></div>
    </ig-collapsible>
    <ig-collapsible id="dimensions" data-title="Dimensions" heading-color="#FFBE3E" auto-focus-on-expand="true" expanded-state-key="inspInProg.Dim" flex>
      <div class="dimension-details content-item" flex="100" layout="row" ng-show="vm._currentInspection">
        <div id="container-pieces-notes"  flex="60" layout="column">
          <div ng-repeat="mitem in vm._dimensions" dimension-row dim-item="mitem" update-fn="vm.triggerUpdateDims(mitem)"
               class="container-pieces inspect-measures" flex="initial">
          </div>
          <div layout="row" class="spacetop-1">
            <button class="action-btn" ng-click="vm.addNewDimRows(1)" ng-disabled="vm._addDimRowDisabled">
              Add Row
            </button>
          </div>
        </div>
        <div flex="5">&nbsp;</div>
        <div style="border-left: 1px solid black;" flex="5">&nbsp;</div>
        <div id="container-other-details" flex="30" layout="column">
          <div id="container-weight"  flex="25" layout="column" class="content-item">
            <div class="content-label" flex="initial">Total Weight</div>
            <div class="content-field" flex="grow">{{vm._currentShipment.totGrossWeight}}</div>
          </div>
          <div id="container-feet"    flex="25" layout="column" class="content-item">
            <div class="content-label" flex="initial">Cubic Feet</div>
            <div layout="row">
              <input type="text" class="inp-size-4 text-center" disabled ng-model="vm._currentInspection.totGrossVolume"/>
            </div>
          </div>
          <div id="container-density" flex="25" layout="column" class="content-item">
            <div class="content-label" flex="initial">Density (PCF)</div>
            <div layout="row">
              <input type="text" class="inp-size-4 text-center" disabled ng-model="vm._currentInspection.totDensity"/>
            </div>
          </div>
          <div flex="15">&nbsp;</div>
          <div id="container-counts" layout="row">
            <div layout="column" class="content-item" flex>
              <div class="content-label">Total Pieces</div>
              <div class="content-field">{{vm._currentShipment.totPieceCnt}}</div>
            </div>
            <div layout="column" class="content-item" flex>
              <div class="content-label">Motor Moves</div>
              <div class="content-field">{{vm._currentShipment.motorizedPiecesCnt}}</div>
            </div>
            <div layout="column" class="content-item" flex>
              <div class="content-label">Loose Pieces</div>
              <div class="content-field">{{vm._currentShipment.loosePiecesCnt}}</div>
            </div>
          </div>
        </div>
      </div>
      <div ng-include="'partials/placeholders/emptyPane.html'" ng-show="!vm._currentInspection"></div>
    </ig-collapsible>
    <ig-collapsible id="notes" data-title="Notes" heading-color="#858585" auto-focus-on-expand="true" expanded-state-key="inspInProg.Notes" flex>
      <div layout="column" class="content-item">
        <div class="content-label">Enter notes below (optional)</div>
        <textarea on-blur="vm.saveNotes()" ng-keyup="vm.notesValueChanged()" ng-model="vm._currentInspection.inspectionNotes.note" class="spacetop-1" virtual-keyboard-control></textarea>
      </div>
    </ig-collapsible>
    <ig-collapsible id="photos" data-title="Photos" heading-color="#1976D2"  expanded-state-key="inspInProg.Photos" flex>
      <div layout="column" class="content-item">
        <div layout="row">
          <button ng-mouseup="vm.openFileBrowser('#manualUploadInput')" class="action-btn">
            <md-icon md-svg-src="images/wni_manual-upload-2x.svg" class="ig-icon-button"></md-icon>Add External Photo
          </button>
          <div ng-hide="true">
            <input id="manualUploadInput" type="file" multiple onchange="angular.element(this).scope().$parent.$parent.vm.selectPhotoManually(this)">
          </div>
        </div>
        <div layout="row" layout-wrap>
          <spinner name="inspectionPhotosLoading" show="vm.photosLoading" img-src="images/2-5_second_load.gif"/>
          <ig-gallery-image ng-repeat="photo in vm._gallery_images" fname="photo.filename" fsrc="photo.ThumbnailBytes" op-code="photo.DmsOpCode" id="photo.Id" update-fn="vm.reloadPhotos()" view-image="vm.viewImage(id)" >
          </ig-gallery-image>
        </div>
      </div>
    </ig-collapsible>
    <img class="camera-icon" src="images/wni_camera-button-3x.svg" width="130" height="130"
       ng-show="vm._cameraAvailable && !vm.cameraLaunching" ng-click="vm.launchCamera()"/>
  </md-content>
</div>
