<div id="index">
  <ig-header data-title="{{vm.currInspection.proNbr}} - {{vm.currInspection.inspectionStatusCd}}">
    <hr class="tbar-vertical-divider-viewphoto">
    <div layout="row" layout-align="start center" class="toolbar-btn" ng-click="submitPro()">
      <md-icon md-svg-src="images/wni_control-trash-2x.svg" class="ig-icon-button" aria-label="Action"></md-icon>
      <span>delete photo</span>
    </div>
  </ig-header>
  <md-content>
    <div class="viewphoto-container" layout="column" flex>
      <div>
        <md-icon md-svg-src="images/wni_gallery-local-2x.svg" class="ig-icon-button origin-local" aria-label="Photo Origin"></md-icon>
        Photo will be automatically archived when inspection is submitted.
      </div>
      <div class="image-content spacetop-1">
        <img alt="Photo for {{vm.currInspection.PRO}}" ng-src="data:image/jpeg;base64,{{vm.photoContents}}" />
      </div>
    </div>
  </md-content>
</div>
