.archive-doc-container {
  padding: 2rem;
  position: relative;

  md-icon {
    width: 5rem;
    height: 5rem;
    position: fixed;
  }

  .origin-local {
    color: $xpo-red-hex;
  }

  .image-content img {
    margin: 0 auto;
  }

  .nav-back {
    float: left;
    position: absolute;
    top : 8rem;
  }

  .nav-fwd {
    float: right;
    position: absolute;
    top : 8rem;
    right: 5rem;
  }

}


