<div id="scan">
  <ig-header data-title="Lookup" flex-val="5"></ig-header>
  <div class="header" flex>
    <div layout="row">Type or scan a PRO, door, or trailer number</div>
    <span ng-show="vm._invalidinput" class="text-error">The input is not a valid PRO, door, or trailer number.</span>
    <span class="text-error" ig-notify-on-load="inline"></span>
    <div layout="row" class="input-row">
        <input tabindex="1" id="proDoorTrailerInputId" name="proDoorTrailerInput" type='text' placeholder="PRO, door, trailer number" ng-model="vm._manifestInputValue" autofocus="true" virtual-keyboard-control>
        <div tabindex="2" class="action-btn content-item" layout="row" layout-align="center" ng-click="vm.lookup()">
          <md-icon md-svg-src="images/wni_drawer-search-2x.svg" class="ig-icon-button" aria-label="Lookup"></md-icon>
          <div layout="column" layout-align="center">Lookup</div>
        </div>
    </div>
  </div>
</div>
