/* Inspection List datatable styles */
table.dataTable.ig-data-table {
  border-collapse: collapse;

  thead {
    th {
      padding: 1rem 1.75rem 1rem .5rem;
      border: 1px solid $xposupp-grey2-hex;
      text-align: left;
      //white-space: nowrap;
      position: relative;

      .resizer {
        $divide-color: #DD5555;
        height: 75%;
        display: inline-block;
        border-left: 1px solid $divide-color;
        position: absolute;
        top: 15%;
        right: 0;
        padding-right: .4rem;
      }
    }

    $sorting-bg-size: .75rem;
    $sorting-bg-offset: .5rem;
    .sorting_asc {
      background-image: url("../images/wni_column-sort-up-1x.svg");
      background-position: right $sorting-bg-offset center;
      background-size: $sorting-bg-size;
      background-repeat: no-repeat;

    }

    .sorting_desc {
      background-image: url("../images/wni_column-sort-dn-1x.svg");
      background-position: right $sorting-bg-offset center;
      background-size: $sorting-bg-size;
      background-repeat: no-repeat;

    }

    .sorting {
      background-image: url("../images/wni_column-sort-static-1x.svg");
      background-position: right $sorting-bg-offset center;
      background-size: $sorting-bg-size;
      background-repeat: no-repeat;

    }

  }

  tr.odd {
    $odd-bg-color: #FFFFFF;
    background-color: $odd-bg-color;
    &.row-selected {
      background-color: $xposupp-grey1-hex !important;
      color: $body-text-light;
    }
    &:hover {
      background-color: $odd-bg-color;
    }
  }

  tr.even {
    $even-bg-color: #F6F6F6;
    background-color: $even-bg-color;
    &.row-selected {
      background-color: $xpo-black-hex !important;
      color: $body-text-light;
    }
    &:hover {
      background-color: $even-bg-color;
    }
  }

  tr {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.urgent {
      position: relative;
      background-color: #FFE0C2;

      &:before {
        content: '';
        position: absolute;
        z-index: 10;
        background-color: #FF6600;
        -webkit-mask-image: url(../images/wni_priority_tag.svg);
        mask-image: url(../images/wni_priority_tag.svg);
        width: 18px;
        height: 18px;
      }

      &:hover {
        background-color: #FFE0C2;
      }
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 10;
    }

    td {
      padding: 1rem .5rem;
      text-align: left;
      //white-space: nowrap;
      &.dataTables_empty {
        text-align: center;
      }
    }
  }
}
/* End datatable styles */

//we don't want to show the default colvis drop-down
div .ColVis {
  display: none;
}
